<a href="https://colab.research.google.com/github/Mujthaba-GM/AIML-NLPProjects/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Welcome")

Welcome

In [3]:
a=int(input("Enter n value"))
print(a)

Enter n value10
10

In [4]:
a=10
b=20
if a>b:
    print("a is greater")
else:
    print("b is greater")

b is greater

In [5]:
i=1
n=20
while i<=n:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [10]:
#Data stcruures
list1=[1,2,3,4]
list2=['apple','boy']
print(list1)
print(list2)
print(list1[0])
print(list2[1])
print(list1[-1])
print(list1[0:-1])
list1.append(10)
print(list1)
list1.insert(2,20)

[1, 2, 3, 4]
['apple', 'boy']
1
boy
4
[1, 2, 3]
[1, 2, 3, 4, 10]

In [11]:
set1={1,2,2}
print(set1)

{1, 2}

In [12]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A | B)      # Union: {1, 2, 3, 4, 5, 6}
print(A & B)      # Intersection: {3, 4}
print(A - B)      # Difference: {1, 2}
print(A ^ B)      # Symmetric Difference: {1, 2, 5, 6}

print(A.issubset(B))      # False
print(A.isdisjoint(B))    # False

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}
False
False

In [14]:
def fun1(list1):
  print(list1)
list1=[1,2,3,3,3,3,3]
fun1(list1)

[1, 2, 3, 3, 3, 3, 3]

In [15]:
import numpy

In [ ]:
import numpy as np
a=np